In [1]:
import numpy as np
import pandas as pd

In [2]:
books = pd.read_csv('BX-Books.csv', sep=';', error_bad_lines = False, encoding = 'latin-1')

C:\Users\Acer\AppData\Local\Temp\ipykernel_10460\3947195057.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books = pd.read_csv('BX-Books.csv', sep=';', error_bad_lines = False, encoding = 'latin-1')
Skipping line 6452: expected 8 fields, saw 9
Skipping line 43667: expected 8 fields, saw 10
Skipping line 51751: expected 8 fields, saw 9

Skipping line 92038: expected 8 fields, saw 9
Skipping line 104319: expected 8 fields, saw 9
Skipping line 121768: expected 8 fields, saw 9

Skipping line 144058: expected 8 fields, saw 9
Skipping line 150789: expected 8 fields, saw 9
Skipping line 157128: expected 8 fields, saw 9
Skipping line 180189: expected 8 fields, saw 9
Skipping line 185738: expected 8 fields, saw 9

Skipping line 209388: expected 8 fields, saw 9
Skipping line 220626: expected 8 fields, saw 9
Skipping line 227933: expected 8 fields, saw 11
Skipping line 228957: expected 8 fields, saw 10
Skipping line 245933: expected 8 fields, saw 9
Skipping line 251296: expected 8 fields, saw 9
Skipping line 259941: expected 8 fields, saw 9
Skipping line 261529: expected 8 fields, saw 9

C:\Users\Acer\AppData\Local\Temp\ipykernel_10460\3947195057.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('BX-Books.csv', sep=';', error_bad_lines = False, encoding = 'latin-1')

In [3]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [4]:
books=books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher']]

In [5]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [6]:
books.rename(columns={'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'year'},inplace=True)

In [7]:
users = pd.read_csv('BX-Users.csv', sep=';', error_bad_lines = False, encoding = 'latin-1')
users.head()

C:\Users\Acer\AppData\Local\Temp\ipykernel_10460\2819495172.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  users = pd.read_csv('BX-Users.csv', sep=';', error_bad_lines = False, encoding = 'latin-1')

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [8]:
ratings = pd.read_csv('BX-Book-Ratings.csv', sep=';', error_bad_lines = False, encoding = 'latin-1')
users.rename(columns={'User-ID':'user_id'},inplace=True)
ratings.rename(columns={'User-ID':'user_id','Book-Rating':'rating'},inplace=True)

C:\Users\Acer\AppData\Local\Temp\ipykernel_10460\871327509.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ratings = pd.read_csv('BX-Book-Ratings.csv', sep=';', error_bad_lines = False, encoding = 'latin-1')

In [9]:
ratings.head()

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [10]:
print(books.shape, users.shape, ratings.shape)

(271360, 5) (278858, 3) (1149780, 3)

In [11]:
ratings['user_id'].shape

(1149780,)

out of 27.88lac users only 11.5lac gave ratings

In [12]:
x = ratings['user_id'].value_counts() > 200

In [13]:
y = x[x].index

out of 11.5lac users only 899 users have rated more than 200 books

In [14]:
y

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727,
            268622, 188951],
           dtype='int64', length=899)

In [15]:
# now finding ratings for those 899 users

ratings = ratings[ratings['user_id'].isin(y)]
ratings.shape

(526356, 3)

In [16]:
ratings_with_books = ratings.merge(books, on='ISBN')

In [17]:
ratings_with_books.shape

(487671, 7)

around 40k books have no ratings i.e., no data for those books found in 'ratings'

In [18]:
number_rating = ratings_with_books.groupby('title')['rating'].count().reset_index()

In [19]:
number_rating.head()

                                               title  rating
0   A Light in the Storm: The Civil War Diary of ...       2
1                              Always Have Popsicles       1
2               Apple Magic (The Collector's series)       1
3   Beyond IBM: Leadership Marketing and Finance ...       1
4   Clifford Visita El Hospital (Clifford El Gran...       1

In [20]:
number_rating.rename(columns= {'rating':'no. of ratings'},inplace =True)
number_rating.head()

                                               title  no. of ratings
0   A Light in the Storm: The Civil War Diary of ...               2
1                              Always Have Popsicles               1
2               Apple Magic (The Collector's series)               1
3   Beyond IBM: Leadership Marketing and Finance ...               1
4   Clifford Visita El Hospital (Clifford El Gran...               1

In [21]:
final_rating = ratings_with_books.merge(number_rating,on ='title')
final_rating.head()

,user_id,ISBN,rating,title,author,year,Publisher,no. of ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82

no. of ratings for that certain book is given

In [22]:
final_rating.shape

(487671, 8)

In [23]:
final_rating = final_rating[final_rating['no. of ratings'] >= 50]
final_rating.shape

(61853, 8)

61k books have more than 50 ratings, rated by users who had rated more than 200 books

In [24]:
final_rating.drop_duplicates(['user_id','title'],inplace=True)

In [25]:
final_rating.shape

(59850, 8)

In [26]:
book_pivot = final_rating.pivot_table(columns='user_id',index='title',values='rating')

In [27]:
book_pivot.isnull().sum()

user_id
254       682
2276      711
2766      695
2977      723
3363      656
         ...
275970    651
277427    645
277478    723
277639    713
278418    595
Length: 888, dtype: int64

In [28]:
book_pivot.fillna(0,inplace=True)
book_pivot.head()

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0

In [29]:
from scipy.sparse import csr_matrix

book_sparse = csr_matrix(book_pivot)

In [30]:
from sklearn.neighbors import NearestNeighbors

model = NearestNeighbors(algorithm = 'brute')

In [31]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [32]:
# distance, suggestion = model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1),n_neighbors=6)

In [33]:
# suggestion

In [34]:
# for i in range(len(suggestion)):
#     print(book_pivot.index[suggestion[i]])

In [35]:
def recommend_book(book_name):
    book_id = np.where(book_pivot.index==book_name)[0][0]
    distance, suggestion = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1),n_neighbors=6)
    for i in range(len(suggestion)):
        if i==0:
            print(f"the suggestion for the book {book_name} are:")
        if not i:
            print(book_pivot.index[suggestion[i]])

In [36]:
recommend_book("Animal Farm")

the suggestion for the book Animal Farm are:
Index(['Animal Farm', 'Exclusive', 'Jacob Have I Loved', 'Second Nature',
       'Pleading Guilty', 'No Safe Place'],
      dtype='object', name='title')